@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div id="description">

					<p style="text-align: left;">The <strong>Privacy Policy</strong> is a document informing the users about the use, process and disclosure of their personal information collected through a <strong>Website or Mobile Application</strong>. This document can be used for <strong>any type of industries</strong> including healthcare, finance, e-commerce, transportation, etc...</p>
<p>This Privacy Policy can be used for either Website or Mobile Application. <strong>It is mandatory for every Website/Application in India who collects and process personal information to have a Privacy Policy</strong>. Any Website/App that gathers any data about its users, even if it is simply through tracking their location, is required to have a Privacy Policy.</p>
<p>It is mandatory under the IT Act, 2000 to <strong>notify and get the consent of users before collecting and processing their information</strong>. Thus the Privacy Policy has to be <strong>visible and understandable to the users</strong>.</p>
<p>The <strong>Sensitive Personal Data</strong> in India constitutes the following categories of the data: passwords, financial data, health data, official identifier, sex life, sexual orientation, biometric data, genetic data, transgender status, intersex status, caste or tribe, religious belief, political affiliation or any other category of data specified by the concerned authority.</p>
<p><br><strong>How to use this document</strong></p>
<p>This document is drafted as per the Indian laws and rules. It should be noted that this document <strong>only includes a Privacy Policy. </strong>Other related documents like <a href="../../in/modele/website-terms-conditions">Website Terms and Conditions</a> and Cookies Policy <strong>need to be drafted separately</strong>. Terms and Conditions and Privacy Policy are separate documents.</p>
<p><strong>Terms and Conditions</strong> define <strong>how the user can use the Website/Application</strong> and what are the <strong>obligations</strong> of the Users and the owners of the Website/Application. Terms and Conditions also include details about how the business works, delivery and return policy, the geographical location of the business, age restrictions, dispute resolution and so on. On the other hand, Privacy Policy is a detailed document explaining how the owner of the Website/Application deals with the <strong>personal information</strong> of the users such as the details about the uses of information, how the information is collected, what information is collected, retention and deletion of information, age restrictions, security methods adopted, etc...</p>
<p>This document specifies the following mandatory fields:</p>
<ul>
<li><strong>Type of personal and sensitive personal data or information collected</strong>;</li>
<li><strong>Purpose</strong> of collection and usage of such information;</li>
<li>Disclosure of information to the <strong>third parties</strong>;</li>
<li>The <strong>minimum age</strong> requirement to use the Website/App;</li>
<li>Reasonable <strong>security</strong> practices and procedures adopted.</li>
</ul>
<p>Once the Privacy Policy is created it has to be <strong>published on the Website/App</strong> and need to make sure it is <strong>visible/accessible for the users</strong>. It is better to have a <strong>pop-up window asking the consent</strong> of the users to this policy.</p>
<p><br><strong>Applicable laws</strong></p>
<p>Although there is no exclusive data protection law in India, the privacy and data protection is mandated under Section 43A of <a href="https://www.indiacode.nic.in/bitstream/123456789/1999/3/A2000-21.pdf">Information Technology Act, 2000</a> read with Information Technology (reasonable security practices and procedures and sensitive personal data or information) Rules, 2011.</p>
				
				<p><br><strong>How to modify the template</strong></p>					<p>You fill out a form. The document is created before your eyes as you respond to the questions.</p>

					<p>
											At the end, you receive it in <strong>Word and PDF</strong> formats.											You can <strong>modify</strong> it and <strong>reuse</strong> it.					</p>
				</div>
